/*fonts*/
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.f24{font-size:24px}
.f28{font-size:28px}
.f32{font-size:32px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

/*font-color*/
.fcred{color:#F00}
.fcblue{color:#47a3da}
.fcgreen{color:#3C0}
.fcyellow{color:#FF0}
.fcorange{color:#F90}
.fcblack{color:#000}
.fcgrey{color:#666}
.fcpurple{color:#F3C}
.fcpink{color:#C3F}
.fcwhite{color:#FFF}

/*position*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}
.lh13{line-height:13px;}

/*height width*/
.w10{width:10px}
.w20{width:20px}
.w30{width:30px}
.w40{width:40px}
.w50{width:50px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w150{width:150px}
.w200{width:200px}
.w250{width:250px}
.w300{width:300px}
.w400{width:400px}
.w500{width:500px}
.w600{width:600px}
.w700{width:700px}
.w800{width:800px}
.w960{width:960px}
.w1080{width:1080px}
.w1280{width:1280px}
.w{width:100%}
.h50{height:50px}
.h80{height:80px}
.h100{height:100px}
.h200{height:200px}
.h250{height:250px}
.h280{height:280px}
.h300{height:300px}
.h350{height:350px}
.h400{height:400px}
.h500{height:500px}
.h600{height:600px}
.h650{height:650px}
.h700{height:700px}
.h800{height:800px}
.h900{height:900px}
.h1000{height:1000px}
.h1600{height:1600px}
.h_100{height:100%}

.h{height:100%}
.ha{height:auto}

/*margin*/

.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt-50{margin-top:-50px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mt150{margin-top:150px}
.mt200{margin-top:200px}
.mt300{margin-top:300px}
.mt350{margin-top:350px}
.mt400{margin-top:400px}
.mt15p{margin-top:15%}
.mt20p{margin-top:20%}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.ml300{margin-left:300px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr35{margin-right:35px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt350{padding-top:350px}
.pt400{padding-top:400px}
.pt420{padding-top:420px}
.pt500{padding-top:500px}
.pt600{padding-top:600px}
.pt866{padding-top:866px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}
.t50{top:50%}
.t30{top:30%}
.t20{top:20%}

/*display*/
.dpn{display:none}
.dpl{display:inline}
.dpb{display:block}
.dplb{display:inline-block}
.dpn{display:none}
.oxh{overflow-x:hidden}
.oyh{overflow-y:hidden}
.bc{margin-left:auto; margin-right:auto}
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; _position: static !important; line-height: 1.5;}
supb { padding-left: 1px; font-size: 20px !important; font-weight: blod !important; vertical-align: baseline; position: relative; bottom: 0.33em; _position: static !important; line-height: 1.5;}

/*line*/
.bdblack{border:#000 1px solid}
.bdred{border:#C00 1px solid}
.bdblue{border:#39F 1px solid}
.bdgreen{border:#6F9 1px solid}
.bdyellow{border:#CF0 1px solid}
.bdgrey{border:#666 1px solid}

/*bc-color*/
.bcblack{background-color:#000}
.bcred{background-color:#C00}
.bcblue{background-color:#39F}
.bcgrey{background-color:#666}
.bcgreen{background-color:#009944}
.bcorange{background-color:#F90}
.bcpurple{background-color:#91268F}
.bcgreen2{background-color:#8FC31F}

.bdb1{border:#333 1px solid;}